<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Details</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>
<div class="bg-image" style="background-image: url('https://cdn.wallpapersafari.com/47/97/14PgCE.jpg'); height: 100vh;">
<div class="container-fluid text-center">
    <br>
    <div><h2>Employee Details Management</h2></div>
    <br>
    <div class="mr-2">
        <a th:href="@{/users/new}" class="h3" >Add New Employee</a>
    </div>

    <div th:if="${message}" class="alert alert-success text-center">
        [[${message}]]
    </div>
    <br><br>
    <div>
        <table class="table table-bordered table-dark table-striped">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>E-mail</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Enabled</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="user : ${ListUsers}">
                <tr>
                    <td>[[${user.id}]]</td>
                    <td>[[${user.email}]]</td>
                    <td>[[${user.firstName}]]</td>
                    <td>[[${user.lastName}]]</td>
                    <td>[[${user.enabled}]]</td>
                    <td><a href="" class="h4 mr-3" th:href="@{'/users/edit/'+${user.id}}">Edit</a>
                        <a class="h4" th:href="@{'/users/delete/'+${user.id}}">Delete</a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>